.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  width: 98.9%;
  background-color: rgb(242, 221, 198);
  box-shadow: 0px 0px 5px gray;
  bottom: 5px;
  left: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .footer-text {
    font-size: 35px;
  }
}
